html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 300px;
}
body{
  margin: 0 auto;
  height: 100%;
  color: #9cdaf0;
  background-color: #020202;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  margin: 20px;
  padding: 20px;
  width: 80%;
  align-items: center;
  text-align: center;
}

footer{
  flex-shrink: 0;
  padding: 2px;
}
h1{
  font-size: 3em;
  text-decoration: none;
  margin: 20px;
}
a{
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0 10px;
  margin: 1px;
}
ul{
  list-style: none;
  margin: 20px;
}
li {
  padding: 10px;
  background: #9cdaf0;
  border-radius: 5px;
  display: inline-block;
}
