html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 300px;
}
body{
  margin: 0 auto;
  height: 100%;
  color: #9cdaf0;
  background-color: #020202;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  margin: 30px;
  padding: 30px;

  width: 80%;
  align-items: center;
  text-align: center;
}
footer{
  flex-shrink: 0;
  padding: 2px;
}
h1{
  font-size: 3em;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0 10px;
  margin: 1px;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
.projects div{
  background-color: gray;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: auto;
}
article{
  display: inline-block;
}
li {
  padding: 10px;
  background: #9cdaf0;
  border-radius: 5px;
}
span{
  margin: 0 10px;
}
img{
  width: 550px;
}
/* I pretty much just did a media query to increase the size of the carosel placeholder.  I will absolutley work on this more over the weekend, but I know how it works.*/
@media screen and (min-width: 650px) {
  .projects div{
    background-color: gray;
    height: 600px;
    width: 600px;
    display: inline-block;
  }
  .projects h2{
    display: none;
  }
}
/* double wide for big screens! */
@media screen and (min-width: 1600px) {
  .projects div{
    width: 1300px;
  }
}
